@import '/impelinc/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/impelinc/node_modules/bootstrap/dist/js/bootstrap.min.js';


/* Resposive Menu */
@media(max-width:991px){
    ul.navbar-nav.ml-auto.mb-2.mb-lg-0 {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999;
        background: rgb(255 255 255 / 83%);
        backdrop-filter: blur(10px);
        width: 100%;
        display: block;
        padding: 20px;
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    }
}

@media(min-width:991px){
    .btn-close {
        display: none;
    }
}

@media(min-width:991px){
    ul.dropdown-menu.show {
        width: 230px;
    }
    
}

@media(min-width:991px){
    .btn-close {
        display: none;
    }
}

p {
    font-size: 15px;
    color: #606060;
    font-family: sans-serif;
}

.carousel-caption.d-md-block.aos-init.aos-animate p {
    color: #fff;
}

/* Nav Style */
li.nav-item a {
    color: #000;
    font-weight: 600;
    font-family: system-ui;
    font-size: 18px;
    /* transition: 0.1s; */
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(0, 0, 0) !important;
}

li.nav-item a:hover {
    border-bottom: 1px solid #b1acac;
    border-bottom-width: thin;
}

.dropdown-item:hover {
    background-color: #011a34 !important;
    color: #fff !important;
}

ul.dropdown-menu.show {
    padding: 0px;
}

ul.dropdown-menu.show li a {
    padding: 7px 0px 7px 15px;
}

.menu-res-cls-btn {
    display: flex;
    justify-content: flex-end;
    padding: 25px 0px 40px 0px;
}

/* Slider Caption */

.d-md-block h2 {
    font-weight: 700;
    font-size: 40px;
}

@media only screen and (max-width: 501px){
    .sld-img{
        height: 230px !important;
    
    }
    }
    @media only screen and (max-width: 501px){
        .carousel-caption{
            padding-top: 2.25rem !important;
        
        }
        }
        @media only screen and (max-width: 767px){
            .carousel-caption{
                padding-top: 2.25rem !important;
            
            }
            }
@media only screen and (max-width: 767px){
.sld-img{
    height: 280px;

}
}
@media only screen and (max-width: 768px){
.d-md-block {
    display: block!important;
    top:10px !important;
}}
@media only screen and (max-width: 768px){
    .d-md-block h2 {
        font-weight: 700;
        font-size: 20px;
    }}
    @media only screen and (max-width: 768px){
        .prod-btn {
            display: flex;
            justify-content: center;
        }}

/* Our Team Media Query */
@media only screen and (max-width: 765px){
    .team h4 {
        text-align: center;
    }
    }
    @media only screen and (max-width: 765px){
        .team p {
            text-align: justify;
        }
        }
/* .carousel-item.active img {
            height: auto;
        } */
.carousel-caption {
    position: absolute;
    right: 35% ; 
    top: 200px;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 75%;
}

.carousel-caption.d-none.d-md-block h2 {
    color: #fff;
    font-weight: 400;
    font-family: fantasy;
    font-size: 46px;
}
span.sld-hdr-spn {
    color: #fff;
}
.prod-blk h2 {
    font-size: 18px;
    text-align: center;
}
.prod-blk img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.prod-btn {
    display: flex;
    margin: 20px 0px;
    justify-content: center;
}
.prod-blk {
    margin: 20px 0px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 2px 1px #0000007a;
}

/* Home Page */

.hm-abt-sec {
    padding: 30px 0px;
}
.c-hm-blk a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.cnt-blk-hm {
    padding: 15px 15px;
    border-left: 1px dashed #ffffff;
    /* padding-left: 24px; */
    background: #012952d1;
    color: #fff;
    box-shadow: -2px 1px 3px 0px #00000099;
}

.c-hm-blk {
    padding: 6px 0px;
}
p.hm-cta-stm {
    font-weight: 700;
    color: #606060;
    font-size: 16px;
}
.hm-rght-cta-sec-blk {
    padding: 15px;
}
.hm-rght-cta-sec-blk p {
    color: #fff;
}
.cnt-blk-hm img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Product Title Banner */
.prod-tlt-banner-bg{
    background-image: url(../../public/images/product-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.prod-tlt-bg-color {
    background: #001424d6;
}
.prod-tlt{
    padding: 100px 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.products-list-blk {
    background: #f7f9fa;
}

/* Contact us Title banner */
.cnt-tlt-bg{
    background-image: url(../../public/images/cnt-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:inherit;
    object-fit: cover;
}
.cnt-tlt-banner{
    background-color: #001424d6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cnt-tlt-banner h1{
    padding: 100px 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}
.form-control{
    margin: 5px 0px 5px 0px;
}
.cnt-frm-blk{
    margin: 20px 0px;
}

.cnt-us-blk {
    background: #f7f9fa;
}
.cnt-frm-blk {
    background: #fff;
    padding: 40px;
    margin: 0px;
    box-shadow: 0px 0px 2px 1px #0000006b;
}
.cnt-loc-blk {
    /* padding: 40px; */
    padding: 40px 40px 20px 40px;
    border-bottom: 1px solid #d5d5d5;
}
.cnt-loc-blk a{
    text-decoration: none;
    color: grey;
    font-weight: 600;
    font-size: 20px;
}
.cnt-lft-blk {
    margin-top: 50px;
    margin-bottom: 20px;
}
span.cnt-bld {
    font-weight: 600;
}
.cnt-lft-blk h3 {
    font-weight: 300;
    font-size: 40px;
}
.cnt-smt-btn {
    margin-top: 30px;
    text-align: center;
}

/* Footer */
.ftr{
    margin: 0px;
}
h6.ftr {
    background: #00060f;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
}


.cta-sec {
    background-image: url(../../public/images/impelinc-bg-img.jpg);
    /* padding: 50px 0px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cta-sec-bg-clr {
    background-color: #001628f0;
}
.cta-lft-blk {
    padding: 100px 0px;
}
.cta-lft-blk h3 {
    font-size: 65px;
    color: #fff;
    text-align: center;
}
.cta-rgt-blk {
    padding: 40px;
    background: #0000002e;
}
.cta-rgt-blk form h4 {
    color: #fff;
}
.cta-rgt-blk form p {
    color: #fff;
}
.cta-lft-blk h4 {
    font-size: 35px;
    text-align: center;
    padding: 30px 0px;
    color: #d6d6d7;
    text-shadow: -3px 4px 5px black;
}

/* Services Page */
.serv-icon {
    width: 100px;
    height: 100px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #000000a1;
}
.serv-icon img {
    margin: 20px;
}
.serv-blk {
    text-align: center;
    box-shadow: 0px 0px 3px 0px #00000094;
    /* border-radius: 6px; */
}
.srv-bg {
    padding: 30px;
    margin: 20px 0px;
    background: #ffffffd9;
    
}
.serv-blk h6 {
    margin: 15px 0px;
    font-weight: 600;
}
.serv-blk{
    background-image: url(../../public/bg-texture.jpg);
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
 .serv-icon:hover{
    box-shadow: inset 0px 0px 20px 11px #011f3e8c;
}

/* Our Team */
.team-blk {
    padding: 20px 0px;
    background: #fbfbfb;
}
.tm-mbr-blk img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
    height: auto;
}
.team{
    padding: 20px;
}

.tm-mbr-blk {
    background: #fff;
    box-shadow: 0px 0px 3px 1px #00000047;
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* Team Style */
.team-brd{
    margin: 15px 0px;
}

/* Other Product */
.othr-inr-blk {
    padding: 5px 0px;
}
.prod-btn {
    display: flex;
    margin: 20px 0px;
}
.other-prd-desc-blk {
    padding: 30px 0px;
}
.oth-prd-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.oth-prd-img {
    padding: 30px 0px;
}
.other-prd-desc-blk h5 {
    border-bottom: 1px dotted grey;
    width: 125px;
}

/* Mobile Footer Blk */
/* @media only screen and (min-width: 768px){
    .ftr-mbl-mnu-blk {
        display: none;
    }} */
/* .ftr-mbl-mnu-blk {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 999 !important;
}
.ftr-mnu-icon-blk {
    text-align: center;
    margin: 10px;
}
.ftr-mnu-icon-blk .ftr-lnk {
    text-decoration: none;
    color: #000;
} */